<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div th:each="employee : ${editing}">
    <a th:href="@{/editing/{employee_id}(employee_id=${employee.getEmployeeId()})}" th:text="${employee.getName()}">User</a>
</div>

<br/>
<hr/>

<a href="/LessonJDBCTemplate_war_exploded/editing/new">Create new person</a>
<br/>
<a href="/LessonJDBCTemplate_war_exploded/showProject">Projects</a>

</body>
</html>